/* Header font */
/* lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* card font */
/* Permanent Marker */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&display=swap');

:root {
    --header-color: #7798B1;
    --header-text: black;
    --nav-color: #7798B1;
    --nav-text: rgba(255, 255, 255, 0.8);
    --main-color: black;
    --main-text: rgba(255, 255, 255, 0.8);
    --footer-color: #065A60;
    --footer-text: rgba(128, 128, 128, 0.8);
    --card-color:#33658A;
    --card-text: white;
    --card-font: 'Permanent Marker', Helvetica;
    --Header-font: 'Lobster', Helvetica;
    --accent-color: white;

}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer, nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: var(--Header-font);
    font-size: 50px;
    text-shadow: 2px 1px 3px var(--accent-color);
    background-color: var(--header-color);
    color: var(--header-text);
}

nav {
    height: 35px;
    background-color: var(--nav-color);
    color: var(--nav-text);
}

nav > a:hover {
    box-shadow: 2px 2px 12px 2px white;
}

main {
    flex-grow: 1;
    background-color: var(--main-color);
    color: var(--main-text);
    box-shadow: 1px 1px 10px 1px black;
}

footer {
    max-height: 20px;
    background-color: var(--footer-color);
    color: var(--footer-text);
}

.card {
    min-width: 300px;
    height: 150px;
    border-radius: 15px;
    margin: 15px;
    border: 3px solid var(--nav-color);
    box-shadow: 1px 1px 12px 1px var(--nav-color);
    font-size: 40px;
    font-family: var(--card-font);
    text-transform: capitalize;
    text-shadow: 2px 2px 2px black;
    color: var(--card-color);
    background-color: var(--card-color);
    color: var(--card-text)
    
}

.card:hover {
    box-shadow: 4px 4px 20px 5px white;
}

#collection {
    flex-wrap: wrap;
}

.outline {
    border: 5px solid var(--nav-color);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}