/* Header Font */
/* Grenze Gotisch */
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap');


:root {
    --header-color: #006466;
    --header-text: #4D194D;
    --nav-color: #4d194Dd4;
    --nav-text: rgba(255, 255, 255, 0.8);
    --main-color: #144552;
    --main-text: rgba(255, 255, 255, 0.8);
    --footer-color: #065A60;
    --footer-text: rgba(128, 128, 128, 0.8);
    --card-color: #006466d8;
    --card-text: #4D194D;
    --Header-font: 'Grenze Gotisch', Helvetica;
    --accent-color: white;

}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer, nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

}

header {
    font-family: var(--Header-font);
    font-size: 50px;
    text-shadow: 2px 1px 3px var(--accent-color);
    background-color: var(--header-color);
    color: var(--header-text);
}

nav {
    height: 35px;
    background-color: var(--nav-color);
    color: var(--nav-text);
}

nav > a:hover {
    box-shadow: 2px 2px 12px 2px white;
}

main {
    flex-grow: 1;
    background-color: var(--main-color);
    color: var(--main-text)
}

footer {
    max-height: 20px;
    background-color: var(--footer-color);
    color: var(--footer-text);
}

.card {
    min-width: 300px;
    height: 150px;
    border-radius: 15px;
    margin: 15px;
    border: 3px solid var(--nav-color);
    box-shadow: 1px 1px 12px 1px var(--nav-color);
    font-size: 28px;
    
}

.card:hover {
    box-shadow: 4px 4px 20px 5px white;
}

#collection {
    flex-wrap: wrap;
}

.outline {
    border: 5px solid var(--nav-color);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}